@import "main.scss";

aside{
  & .OurBrand{
    width: 100%;
    & .brands{
      display: block;
      & img{
        padding: 1.3vw;
        width: 12vw;
        height: 12vh;
      }
    }
  }
  & .OurBrand, .CustomersSays{
    & .caption{
      width: 100%;
      & .caption {
        font-family: 'PlayfairDisplay-BoldItalic', 'serif';
        font-size: 2vw;
      }
    }
  }
}
aside{
  & .customers{
    display: inline-flex;
    min-width: 100%;
    min-height: 35%;
    max-height: auto;
    background: url("../images/bg_aside.png"), no-repeat;
    background-size: 100%;
      & .customer_feedback1, .customer_feedback2{
        min-width: 50%;
        margin-bottom: 2%;
        
        & .text_aside1, .text_aside2{
          font-family: 'PlayfairDisplay-Italic', serif;
          font-size: 1.5vw;
          color: rgba(255,255,255,255);
        }
        & .text_aside2, .name_aside2, .prof_aside2{
          text-align: right;
          margin-top: 10%;
          margin-right: 35%;
        }
        & .text_aside1, .name_aside1, .prof_aside1{
          text-align: left;
          margin-top: 10%;
          margin-left: 45%;
        }
        & .name_aside1, .name_aside2{
          font-family: 'PlayfairDisplay-BoldItalic', serif;
          font-size: 2vw;
          color: rgba(0,0,0,255);
        }
        & .prof_aside1, .prof_aside2{
          font-family: 'Lato-Bold', serif;
          font-size: 1vw;
          color: rgba(127,126,126,255);
        }
      }
    }
    
  }

