@import "main.scss";

header {
  & .bg {
    width: 100%;
    margin-top: -5%;
    position: relative;
    padding: 0;
  }
  & .text_header{
    line-height: 0.6;
    font-family: Lato-Bold, serif;
    text-align: center;
    background-color: #d9bf8f;
    margin-top: -38%;
    margin-left: 40.5%;
    position: absolute;
    width: 19%;
    height: 40%;
    & .white1, .white2{
      color: rgba(255, 255, 255, 255);
      font-size: 1.5em;
    }
    & .black1, .black2{
      color: rgb(0, 0, 0);
    }
    & .black1{
      font-size: 3em;
    }
    & .black2{
      font-size: 1.5em;
    }
  }
  & .HEADER_SHOP {
    background-color: #f09d66;
    color: rgba(255, 255, 255, 255);
    font-family: 'Lato-Bold', serif;
    font-size: 1.500em;
    height: 2.1em;
    width: 8em;
    margin-top: -15.3%;
    margin-left: 42.4%;
    position: absolute;
  }
  & .buttons_headers {
    margin-top: -4%;
    margin-left: 44.9%;
    position: absolute;
  }
  & .support_header{
    height: 6.250em;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    width: 100%;
    display: inline-flex;
    & p{
      font-family: Lato-Regular, serif;
      font-size: 0.875em;
    }
    & h1{
      font-family: Lato-Bold, serif;
      font-size: 1.875em;
    }
    & .text_figure{
      display: table;
      line-height: 0.6;
      margin-left: 5%;
      margin-top: 2%;
    }
    & img{
      margin-left: 10%;
      height: 2.563em;
      margin-top: 6%;
    }
    & .figure1{
      background-image: url("../images/figure1.png");
      width: 32.5%;
      display: inline-flex;
    }
    & .figure2{
      background-image: url("../images/figure2.png");
      width: 34.8%;
      display: inline-flex;
      & img {
        margin-left: 14%;
      }
    }
    & .figure3{
      background-image: url("../images/figure3.png");
      width: 33%;
      display: inline-flex;
    }
  }
}