@import "main.scss";

section{
  & .Hand_Piked{
    & .caption{
      width: 100%;
      & .caption {
        font-family: 'PlayfairDisplay-BoldItalic', 'serif';
        font-size: 2vw;
      }
    }
    & table.article1_table{
      width: 100%;
      & .picture1, .picture3, .picture4, .picture5{
        & img{
          width: 31.2vw;
          height: 60vh;
        }
      }
      & .picture2 {
        & img {
          width: 31.2vw;
          height: 120vh;
        }
      }
    }
  }
}
section{
  & .SummerCollection{
    & .caption{
      width: 100%;
      & .caption {
        font-family: 'PlayfairDisplay-BoldItalic', 'serif';
        font-size: 2vw;
      }
    }
    & table.article2_table{
      width: 100%;
      & .picture1_2, .picture2_2, .picture3_2, .picture4_2, .picture5_2, .picture6_2, .picture7_2, .picture8_2{
        & img{
          width: 23vw;
          height: 55vh;
        }
      }
    }
  }
}